<html>

<head>
  <title> ToDo App </title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1 class="success" style="display: none;">Authentication Success</h1>
    <h1 class="fail" style="display: none;">Authentication Failed</h1>
    <button class="get">Get Challenge</button>

    <button class="verify">Verify Signature</button>

    <pre class="challenge"></pre>
    <pre class="signature"></pre>

  </div>
</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
  </script>

<script type="text/javascript">
  let challenge = null;
  let signature = null;
  if (web3) {
    console.log("web3");
  } else {
    alert("No web3 detected. Please install metamask");
  }

  function getAccounts() {
    return new Promise(async (resolve, reject) => {
      web3.eth.getAccounts(function (err, accounts) {
        if (err != null) {
          console.log(err)
          reject(err)
        }
        else if (accounts.length === 0) {
          console.log('MetaMask is locked')
        }
        else {
          console.log(accounts)
          resolve(accounts)
        }
      });
    });
  }

  $('.get').on('click', async function () {
    $('.challenge').empty();
    await ethereum.enable();
    accounts = await getAccounts()
    $.get('http://localhost:4000/auth/' + accounts[0], (res) => {
      challenge = res
      console.log(res)
      res.forEach(line => {
        $('.challenge').append(line.name);
        $('.challenge').append('<br>');
        $('.challenge').append(line.value);
        $('.challenge').append('<br>');
      })
      const from = web3.eth.accounts[0];
      const params = [challenge, from];
      const method = 'eth_signTypedData';
      web3.currentProvider.sendAsync({
        method,
        params,
        from
      }, async (err, result) => {
        signature = result.result;
        if (err) {
          return console.error(err);
        }
        if (result.error) {
          return console.error(result.error);
        }
        $('.signature').text(signature);
      });
    });
  });

  $('.verify').on('click', function () {
    if (challenge == null)
      $('.fail').show();
    $.get('http://localhost:4000/auth/' + challenge[1].value + '/' + signature  ,
     (res) => {
      if (res === web3.eth.accounts[0]) {
        $('.success').show();
        window.location.replace("http://localhost:4000/api/all/"+ web3.eth.accounts[0]);
      } else {
        $('.fail').show();
      }
    });
  });
</script>

</html>